body
{
	font-family: "Jura",Cambria,monospace;
	font-size: 22px;
}
input
{
	height: 32px;
	width: 450px;
	font-size: 22px;
	font-family: "Jura",Cambria,monospace;
}
button
{
	border: 3px black solid;
	color: white;
	font-size: 32px;
	background-color: dodgerblue;
	padding: 8px;
	margin: 8px;
	height: 100px;
	width: 100px;
}

h1
{
	color: blue;
}

a
{
	color: dodgerblue;
}
